*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body, header, footer, main, section{
    background: #557B83;
    color: black;
    font-family: 'Roboto', sans-serif;
    border: 7px #39AEA9;

}


article, aside{
    background:#E5EFC1;
    border: 7px black;
}


.header-logo{
    height: auto;
    display: inline-block;
    margin: 2rem;
}
.header-menu{
    position: relative;
    top: auto;
    display: inline-block;
}


/*

.cabeza > div {
    display: block;
    padding: 3px;
    color: rgb(13, 4, 1);
    background: #A2D5AB;
    box-shadow: 5px 5px 10px rgba(0,0,0,.25);
} */



.izq {/*movimiento*/
    animation-duration: 5s;
    animation-name: mueveizq;
  }
  
  @keyframes mueveizq {
    from {margin-left: 100%; width: 0%; }
    to {margin-left: 0%;width: 100%; }
  }


.der {
    animation-duration: 5s;
    animation-name: mueveder;
  }
  
  @keyframes mueveder
   { 
     from { margin-right:0%; width: 0% ; }
     to {margin-right: 100%; width: 100%;}
    }
  
    
.cabe  {
        display: block;
        height: 500px;
        width: 1000px;
        padding: 3px;
        color: rgb(13, 4, 1);
        background: #E5EFC1;
        box-shadow: 5px 5px 10px rgba(0,0,0,.25);
        position: center;
    } 

.ver{
    animation-duration: 5s;
    animation-name: move;
  }
    @keyframes move {
        0%   {top: 0px; left: 0px; background: red;}
        25%  {top: 0px; left: 100px; background: blue;}
        50%  {top: 100px; left: 100px; background: yellow;}
        75%  {top: 100px; left: 0px; background: green;}
        100% {top: 0px; left: 0px; background: red;}
      }